Repository fastmachinelearning/hls4ml, pull requests merged in 2023-03, with the labels that each got.

#727 Fixed sign parsing for ac_fixed and ac_int
  hls4ml/backends/fpga/fpga_backend.py
  test/pytest/test_precision_parsing.py
Labels: bug, please test

#715 Correctly expand dims of pointwise layer
  hls4ml/backends/quartus/passes/pointwise.py
  hls4ml/backends/vivado/passes/pointwise.py
  hls4ml/model/optimizer/passes/multi_dense.py
Labels: bug, please test

#716 Support keepdims in GlobalPooling layers
  hls4ml/converters/keras/pooling.py
  test/pytest/ci-template.yml
  test/pytest/test_globalpooling.py
Labels: bug, please test

#724 Register layer attributes in VivadoAccelerator backend
  hls4ml/backends/vivado_accelerator/vivado_accelerator_backend.py
Labels: bug

#569 Add quantized sigmoid, fix quantized tanh for QKeras
  hls4ml/backends/quartus/passes/core_templates.py
  hls4ml/backends/vivado/passes/core_templates.py
  hls4ml/converters/keras/core.py
  hls4ml/converters/keras/qkeras_layers.py
  hls4ml/converters/keras_to_hls.py
  hls4ml/model/layers.py
  hls4ml/templates/quartus/firmware/defines.h
  hls4ml/templates/quartus/firmware/myproject.cpp
  hls4ml/templates/quartus/firmware/myproject.h
  hls4ml/templates/quartus/firmware/nnet_utils/nnet_activation.h
  hls4ml/templates/quartus/firmware/nnet_utils/nnet_activation_stream.h
  hls4ml/templates/quartus/firmware/parameters.h
  hls4ml/templates/quartus/myproject_bridge.cpp
  hls4ml/templates/quartus/myproject_test_parallel.cpp
  hls4ml/templates/quartus/myproject_test_stream.cpp
  hls4ml/templates/vivado/firmware/defines.h
  hls4ml/templates/vivado/firmware/myproject.cpp
  hls4ml/templates/vivado/firmware/myproject.h
  hls4ml/templates/vivado/firmware/parameters.h
  hls4ml/templates/vivado/myproject_bridge.cpp
  hls4ml/templates/vivado/myproject_test.cpp
  hls4ml/templates/vivado/nnet_utils/nnet_activation.h
  hls4ml/templates/vivado/nnet_utils/nnet_activation_stream.h
  hls4ml/templates/vivado/nnet_utils/nnet_code_gen.h
  hls4ml/templates/vivado_accelerator/myproject_axi.cpp
  hls4ml/templates/vivado_accelerator/myproject_axi.h
  hls4ml/utils/config.py
  hls4ml/writer/quartus_writer.py
  hls4ml/writer/vivado_accelerator_writer.py
  hls4ml/writer/vivado_writer.py
  test/pytest/test_qkeras.py
Labels: please test

#730 print_vivado_report function for nicer reports
  .pre-commit-config.yaml
  hls4ml/report/__init__.py
  hls4ml/report/vivado_report.py
  test/pytest/test_report.py
  test/pytest/test_report/myproject_csynth.rpt
  test/pytest/test_report/myproject_csynth.xml
  test/pytest/test_report/vivado_hls.app
  test/pytest/test_report/vivado_synth.rpt
Labels: enhancement, please test

#700 Quartus bram factor
  hls4ml/backends/fpga/passes/bram_weights.py
  hls4ml/backends/quartus/quartus_backend.py
  hls4ml/templates/quartus/myproject_bridge.cpp
  hls4ml/templates/quartus/myproject_test_parallel.cpp
  hls4ml/templates/quartus/myproject_test_stream.cpp
  hls4ml/writer/quartus_writer.py
  test/pytest/test_bram_factor.py
Labels: enhancement, please test

#714 Fix inplace variables
  hls4ml/backends/fpga/fpga_types.py
  hls4ml/backends/fpga/passes/inplace_parallel_reshape.py
  hls4ml/backends/fpga/passes/inplace_stream_flatten.py
  hls4ml/backends/fpga/passes/repack_stream.py
  hls4ml/backends/quartus/passes/transform_types.py
  hls4ml/backends/quartus/quartus_backend.py
  hls4ml/backends/template.py
  hls4ml/backends/vivado/passes/broadcast_stream.py
  hls4ml/backends/vivado/passes/fifo_depth_optimization.py
  hls4ml/backends/vivado/passes/transform_types.py
  hls4ml/backends/vivado/vivado_backend.py
  hls4ml/model/attributes.py
  hls4ml/model/graph.py
  hls4ml/model/layers.py
  hls4ml/model/types.py
  hls4ml/templates/quartus/firmware/nnet_utils/nnet_stream.h
  test/pytest/test_reshape.py
Labels: bug, please test

#708 Fix for cloned stream that is subsequently flattened
  hls4ml/templates/quartus/firmware/nnet_utils/nnet_merge_stream.h
  hls4ml/templates/vivado/nnet_utils/nnet_merge_stream.h
  test/pytest/test_clone_flatten.py
Labels: bug, please test
