Repository fastmachinelearning/hls4ml, pull requests merged in 2024-07, with the labels that each got.

#997 add protection for when kernel_quantizer is None
  hls4ml/converters/keras/qkeras.py
  test/pytest/test_qkeras.py
Labels: bug, please test

#1036 clean-up test ci yaml generater
  test/pytest/generate_ci_yaml.py
Labels: please test

#1039 Add View to layer name map for pytorch parser
  hls4ml/converters/pytorch_to_hls.py
  test/pytest/test_pytorch_api.py
Labels: bug, please test

#850 Add RNN support for Pytorch
  hls4ml/backends/quartus/passes/recurrent_templates.py
  hls4ml/backends/vivado/passes/recurrent_templates.py
  hls4ml/converters/pytorch/recurrent.py
  hls4ml/converters/pytorch_to_hls.py
  hls4ml/model/layers.py
  hls4ml/model/optimizer/passes/convert_to_channels_last.py
  hls4ml/templates/quartus/firmware/nnet_utils/nnet_recurrent.h
  hls4ml/templates/vivado/nnet_utils/nnet_recurrent.h
  hls4ml/utils/config.py
  test/pytest/test_merge_pytorch.py
  test/pytest/test_pytorch_api.py
  test/pytest/test_recurrent_pytorch.py
  test/pytest/test_upsampling_pytorch.py
Labels: please test

#1040 Add Vitis to pytorch API tests
  test/pytest/test_pytorch_api.py
Labels: please test

#1042 clean up mult-dimensional dense
  hls4ml/backends/catapult/passes/pointwise.py
  hls4ml/backends/quartus/passes/pointwise.py
  hls4ml/backends/vivado/passes/pointwise.py
  hls4ml/model/optimizer/__init__.py
  hls4ml/model/optimizer/passes/multi_dense.py
  test/pytest/test_multi_dense.py
Labels: bug

#986 Add namespaces and optional writer config
  hls4ml/backends/vitis/vitis_backend.py
  hls4ml/backends/vivado/vivado_backend.py
  hls4ml/model/graph.py
  hls4ml/templates/vivado/firmware/defines.h
  hls4ml/templates/vivado/firmware/myproject.cpp
  hls4ml/templates/vivado/firmware/myproject.h
  hls4ml/templates/vivado/firmware/parameters.h
  hls4ml/templates/vivado/myproject_bridge.cpp
  hls4ml/templates/vivado/myproject_test.cpp
  hls4ml/writer/vitis_writer.py
  hls4ml/writer/vivado_accelerator_writer.py
  hls4ml/writer/vivado_writer.py
  scripts/hls4ml
  test/keras-to-hls.sh
  test/pytest/test_weight_writer.py
  test/pytest/test_writer_config.py
Labels: please test

#914 Add support for HGQ proxy model
  .gitlab-ci.yml
  hls4ml/backends/fpga/passes/hgq_proxy_model.py
  hls4ml/backends/quartus/passes/core_templates.py
  hls4ml/backends/quartus/quartus_backend.py
  hls4ml/backends/vivado/passes/core_templates.py
  hls4ml/backends/vivado/vivado_backend.py
  hls4ml/converters/keras/hgq_proxy_model.py
  hls4ml/converters/keras_to_hls.py
  hls4ml/model/optimizer/__init__.py
  hls4ml/model/optimizer/passes/hgq_proxy_model.py
  hls4ml/model/optimizer/passes/multi_dense.py
  hls4ml/templates/vivado/nnet_utils/nnet_activation.h
  hls4ml/templates/vivado/nnet_utils/nnet_activation_stream.h
  setup.cfg
  test/pytest/test_hgq_layers.py
Labels: please test
