Repository fastmachinelearning/hls4ml, pull requests merged in 2024-10, with the labels that each got.

#1072 update qkeras in Jenkinsfile
  Jenkinsfile
Labels: bug

#809 hls4ml Optimization API [Part 2]
  docs/advanced/model_optimization.rst
  docs/api/configuration.rst
  hls4ml/backends/fpga/fpga_backend.py
  hls4ml/backends/vitis/passes/feature_check.py
  hls4ml/backends/vitis/vitis_backend.py
  hls4ml/backends/vivado/passes/convolution_templates.py
  hls4ml/backends/vivado/passes/core_templates.py
  hls4ml/backends/vivado/passes/pipeline_style.py
  hls4ml/backends/vivado/passes/recurrent_templates.py
  hls4ml/backends/vivado/passes/resource_strategy.py
  hls4ml/backends/vivado/passes/unrolled_codegen.py
  hls4ml/backends/vivado/vivado_backend.py
  hls4ml/model/graph.py
  hls4ml/optimization/__init__.py
  hls4ml/optimization/dsp_aware_pruning/__init__.py
  hls4ml/optimization/dsp_aware_pruning/attributes.py
  hls4ml/optimization/dsp_aware_pruning/config.py
  hls4ml/optimization/dsp_aware_pruning/keras/__init__.py
  hls4ml/optimization/dsp_aware_pruning/keras/builder.py
  hls4ml/optimization/dsp_aware_pruning/keras/config.py
  hls4ml/optimization/dsp_aware_pruning/keras/masking.py
  hls4ml/optimization/dsp_aware_pruning/keras/reduction.py
  hls4ml/optimization/dsp_aware_pruning/keras/regularizers.py
  hls4ml/optimization/dsp_aware_pruning/keras/utils.py
  hls4ml/optimization/dsp_aware_pruning/knapsack.py
  hls4ml/optimization/dsp_aware_pruning/objectives/__init__.py
  hls4ml/optimization/dsp_aware_pruning/objectives/gpu_objectives.py
  hls4ml/optimization/dsp_aware_pruning/objectives/vivado_objectives.py
  hls4ml/optimization/dsp_aware_pruning/scheduler.py
  hls4ml/templates/vivado/build_prj.tcl
  hls4ml/templates/vivado/nnet_utils/nnet_code_gen.h
  hls4ml/templates/vivado/nnet_utils/nnet_common.h
  hls4ml/templates/vivado/nnet_utils/nnet_conv1d_stream.h
  hls4ml/templates/vivado/nnet_utils/nnet_conv2d_stream.h
  hls4ml/templates/vivado/nnet_utils/nnet_conv_stream.h
  hls4ml/templates/vivado/nnet_utils/nnet_dense.h
  hls4ml/templates/vivado/nnet_utils/nnet_dense_resource.h
  hls4ml/templates/vivado/nnet_utils/nnet_dense_stream.h
  hls4ml/templates/vivado/nnet_utils/nnet_function_stubs.h
  hls4ml/templates/vivado/vivado_synth.tcl
  hls4ml/utils/string_utils.py
  hls4ml/writer/vivado_writer.py
  test/pytest/test_dense_unrolled.py
  test/pytest/test_optimization/test_attributes.py
  test/pytest/test_optimization/test_keras/test_masking.py
  test/pytest/test_optimization/test_keras/test_reduction.py
  test/pytest/test_optimization/test_keras/test_regularizers.py
  test/pytest/test_optimization/test_keras/test_weight_sharing.py
  test/pytest/test_optimization/test_knapsack.py
  test/pytest/test_optimization/test_objectives.py
  test/pytest/test_optimization/test_scheduler.py
  test/pytest/test_pipeline_style.py
Labels: please test

#1091 quote the ${WEIGHT_DIR} to handle special characters
  hls4ml/templates/vivado/build_lib.sh
Labels: bug

#1086 Fix softmax parsing in pytorch and add test
  hls4ml/converters/pytorch/core.py
  hls4ml/model/optimizer/passes/convert_to_channels_last.py
  test/pytest/test_pytorch_api.py
Labels: bug, please test

#1102 Change indexing in filling result for io_parallel convolutions, Vitis
  hls4ml/templates/vitis/nnet_utils/nnet_conv1d_resource.h
  hls4ml/templates/vitis/nnet_utils/nnet_conv2d_resource.h
  test/pytest/test_keras_api.py
Labels: bug, please test
