Repository fastmachinelearning/hls4ml, pull requests merged in 2025-04, with the labels that each got.

#1250 Remove calls to remove_node(..., rewire) as the parameter was deprecated
  hls4ml/backends/catapult/passes/bn_quant.py
  hls4ml/backends/fpga/passes/final_reshape.py
  hls4ml/backends/fpga/passes/hgq_proxy_model.py
  hls4ml/backends/fpga/passes/remove_softmax.py
  hls4ml/backends/oneapi/passes/bn_quant.py
  hls4ml/backends/quartus/passes/bn_quant.py
  hls4ml/backends/vivado/passes/bn_quant.py
  hls4ml/model/graph.py
  hls4ml/model/optimizer/passes/batchnorm_opt.py
  hls4ml/model/optimizer/passes/bn_fuse.py
  hls4ml/model/optimizer/passes/conv_to_convxd.py
  hls4ml/model/optimizer/passes/conv_to_depthwiseconvxd.py
  hls4ml/model/optimizer/passes/expand_layer_group.py
  hls4ml/model/optimizer/passes/fuse_biasadd.py
  hls4ml/model/optimizer/passes/matmul_const_to_dense.py
  hls4ml/model/optimizer/passes/merge_const.py
  hls4ml/model/optimizer/passes/quant_opt.py
  hls4ml/model/optimizer/passes/reshape_const.py
  hls4ml/model/optimizer/passes/resize_remove_constants.py
  hls4ml/model/optimizer/passes/transpose_opt.py
  test/pytest/test_extensions.py
Labels: please test

#1255 Use unique name for hls4ml layer in pytorch extension api test
  docs/advanced/extension.rst
  test/pytest/test_extensions_pytorch.py
Labels: bug

#1222 oneAPI backend update: report
  hls4ml/backends/oneapi/oneapi_backend.py
  hls4ml/report/__init__.py
  hls4ml/report/oneapi_report.py
  test/pytest/test_report.py
  test/pytest/test_report/Vivado/myproject_csynth.rpt
  test/pytest/test_report/Vivado/myproject_csynth.xml
  test/pytest/test_report/Vivado/vivado_hls.app
  test/pytest/test_report/Vivado/vivado_synth.rpt
  test/pytest/test_report/oneAPI/loop_attr.ndjson
  test/pytest/test_report/oneAPI/quartus.ndjson
  test/pytest/test_report/oneAPI/summary.ndjson
Labels: please test

#1263 Fix handling mutiple outputs in onnx
  hls4ml/backends/fpga/passes/clone.py
  hls4ml/converters/onnx_to_hls.py
  test/pytest/test_multiout_onnx.py
Labels: bug, please test

#1258 docs: Update Quickstart example to use Vitis backend
  docs/intro/setup.rst
Labels: please test
